button{

    border-radius: 25px;
    border:  none;
    background-color: #04755b;
    box-shadow: 5px 5px 10px 2px #00000040;
  }

  li{
    background-color: rgb(33, 64, 48);
    color: aliceblue;
    align-items: center;
    display: block;
  }