.container{
    justify-content: center;
    align-items: center;
    display: flex;
}

.calculadora{
    display: grid;
    /*grid-template-columns: 75px 75px 75px 75px;  */
    grid-template-columns: repeat(4 , 75px);
    grid-template-rows: 60px repeat(5, 75px);
    background-color: #00916e;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 20px 5px black;
  }

  .display{
   grid-column :span 4;
   padding-top: 8px;
   text-align: right;
   border-style: groove;
   border-radius: 25px;
   background-color: antiquewhite;
  }

  button{
    margin: 5px;
    padding: 0%;
    border-radius: 25px;
    border:  none;
    background-color: #04755b;
    box-shadow: 5px 5px 10px 2px #00000040;
  }